@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid my-5">
    <div class="container-fluid my-5">
        <!-- Mensaje de bienvenida -->
        <div class="text-center">
            <h1 style="color: #10B981;">Bienvenido al Panel de Administración</h1>
            <p style="color: #333333;">
                Este espacio está diseñado para brindarte las herramientas necesarias para gestionar y supervisar las actividades de la plataforma. Aquí podrás administrar usuarios, eventos y otros recursos para asegurar el buen funcionamiento de nuestro sistema.
            </p>
            <p style="color: #333333;">
                <span style="color: #10B981;">¡Gracias por tu compromiso y dedicación para mejorar nuestra comunidad!</span>
            </p>
        </div>
        <!-- Imagen entre el menú superior y el mensaje -->
        <div class="text-center mb-4">
            <img src="~/img/LogotipoRedMenTe.jpg" alt="Panel de Administración" class="img-fluid" style="max-width: 50%; height: auto; border-radius: 8px; border: 2px solid #7C3AED;">
        </div>
    </div>
